<br><a href="/records/new" class="button">Make a new one!</a>

<% end_string = "for #{@record.username} from #{@record.start_date.to_date.to_formatted_s(:long_ordinal)} until now" %>

<div id="record-data" style="text-align:center">
  <% if @data_type == "songs" %>
    <h2><b>These are the top songs <%= end_string %>!</b></h2>
    <% @data.each do |s| %>
      <p> <%= s %> </p>
    <% end %>
  <% elsif @data_type == "artists" %>
    <h2><b>These are the top artists <%= end_string %>!</b></h2>
    <% @data.each do |a| %>
      <p> <%= a %> </p>
    <% end %>
  <% elsif @data_type == "albums" %>
    <h2><b>These are the top albums <%= end_string %>!</b></h2>
    <% @data.each do |a| %>
      <p> <%= a %> </p>
    <% end %>
  <% end %>
</div>
